---
# header here      

---
<!DOCTYPE HTML>

<html>     

	<head>
		<title>Emily Grabowski</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>                       
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
                {% include header.html %}


							<!-- Banner -->
								<section id="banner">    
                
                
                
                
                
									<div class="content">
										<header>
											<h1> Welcome! </h1>
											<!-- <p>FIXME</p>  -->  
                    
										</header>         
 
                    <p><span class="image right"><img src="images/profile-picture.jpg"
                      style="width:175p; border-radius: 50%" /></span>
                    I am a PhD candidate in Linguistics and a data science instructor at UC Berkeley.
                    My research focuses on understanding and improving speech representations. 
                    I am particularly interested in using deep learning to generate powerful, complex, and interpretable representations of speech.</p>
     
                    <p>
                    I have
                    been teaching data science and developing curriculum since 2019 as a part of the UC Berkeley D-Lab.
                     I specialize in curriculum development and active learning approaches.</p>
								</section>
              <!--
								<section>
									<header class="major">
										<h2>Current Projects </h2>
									</header>
									<div class="features">     
                  
                  <article>
											<span class="icon solid fa-cogs"></span>
											<div class="content">
												<h3>Neural networks for phonetics</h3>
												<p>My work focuses on understanding computational representations of speech, in particular how well neural nets encode fine-grained acoustic information.
                        More recently I have explored fine-tuned, interpretable algorithms.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-chart-bar"></span>
											<div class="content">
												<h3>Acoustic representations</h3>
												<p>
                        My dissertation focuses on defining the key properties of effective phonetic representations. This includes both quantitative performance
                        and qualitative factors that influence adoption and choice of acoutic parameters.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-file-code"></span>
											<div class="content">
												<h3>Data science and pedagogy</h3>
												<p>Data science methods have become more and more central to social science research, but training in these
                        methods is not yet common practice. I am passionate about helping scientists expand their access to
                        data science and computational methods through formal and informal instruction.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-volume-up"></span>
											<div class="content">
												<h3>Unsupervised vowel clustering</h3>

												<p> Machine learning methods show promise for supplementing traditional analyses. 
                        This project explores alternatives to the ubiquitous K-means for vowel clustering. 
                        Collaboration with Jennifer Kuo(UCLA)</p>
											</div>
										</article>

									</div>
								</section> 
                --> 

							<!-- Add links to my major pages after they are built: CV, Teaching, Research, Blog -->
								<section>
									<header class="major">
										<h2>Recent Updates</h2>  
                  </header>           
                  
									<div class="posts">
   
                 {% for post in site.tags.highlight limit:4 %}  
                 <article>    
                 <a href="{{post.url}}" class="image"><img src={{post.pic}} "picture" width = "300p" ></a>
                 <h3> {{post.title}} </h3>   
                 <p> {{post.shorttext}} </p>
                 <ul class="actions">
												<li><a href="{{post.url}}" class="button">More</a></li>
								 </ul>
                 </article>   
                 {% endfor %}      
                  

               
									</div>
								</section>
						</div>
					</div>               
      {% include sidebar.html %}

     </div>
   
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>