---
# header here
---
<!DOCTYPE HTML>
           
<html>
	<head>
		<title>Emily Grabowski</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
              {% include header.html %}
              
                <!--Projects and Code-->
              
	             <section>  
               
									<header class="major">
										<h2>Projects and Code</h2>  
                  </header>           
                  
									<div class="posts">
   
                 {% for post in site.tags.project%}  
                 <article>    
                 <a href="{{post.url}}" class="image"><img src={{post.pic}} "picture" width = "150p" ></a>
                 <h3> {{post.title}} </h3>   
                 <p> {{post.shorttext}} </p>
                 <ul class="actions">
												<li><a href="{{post.url}}" class="button">More</a></li>
								 </ul>
                 </article>   
                 {% endfor %}      
									</div>
								</section> 
                
                <!--Teaching-->
	             <section>
									<header class="major">
										<h2>Tutorials and Demos</h2>  
                  </header>           
                  
									<div class="posts">
   
                 {% for post in site.tags.demo%}  
                 <article>    
                 <a href="{{post.url}}" class="image"><img src={{post.pic}} "picture" width = "300p" ></a>
                 <h3> {{post.title}} </h3>   
                 <p> {{post.shorttext}} </p>
                 <ul class="actions">
												<li><a href="{{post.url}}" class="button">More</a></li>
								 </ul>
                 </article>   
                 {% endfor %}      
									</div>
								</section>							
						</div>
					</div>

  {% include sidebar.html %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>