---
# header here
---
<!DOCTYPE HTML>

<html>     

	<head>
		<title>Emily Grabowski</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>                       
	<body ccID="313" class="is-preload">
  {% include sidebar.html %}
		<!-- Wrapper -->
			<div ccID="393" id="wrapper">

				<!-- Main -->
					<div ccID="439" id="main">
						<div ccID="462" class="inner">

							<!-- Header -->
              {% include header.html %}


							<!-- Banner -->
								<section ccID="586" id="banner">    
                
                
                
                
                
									<div ccID="712" class="content">
										<header ccID="745">
											<h1 ccID="766"> Welcome! </h1>
											<!-- <p>FIXME</p>  -->  
                    
										</header>         
                    

									 <p ccID="910">I am a PhD Candidate in Linguistics and a data science instructor at UC Berkeley. My research focuses on understanding the methods and practices in acoustic phonetics. I draw on inspiration from acoustics more broadly, and have formal training in data science and machine learning. 
                    <div ccID="1217" class="image"> <img ccID="1237" src="images/pic01.jpg",style="float:left"></p>


									</div>

								</section>

							<!-- Section -->
								<section ccID="1368">
									<header ccID="1388" class="major">
										<h2 ccID="1422">Current Projects </h2>
									</header>
									<div ccID="1479" class="features">
										<article ccID="1513">
											<span ccID="1535" class="icon fa-chart-bar"></span>
											<div ccID="1587" class="content">     

												<h3 ccID="1629">Phonetic feature extraction</h3>
												<p ccID="1679"> The features used to underpin acoustic analysis is an important step in the research pipeline. 
                        My project's goal is to develop quantitative comparisons of featural representation that allow for a
                         better understanding of how they capture phonetic contrasts. </p>
											</div>
										</article>
										<article ccID="2049">
											<span ccID="2071" class="icon fa-file-code"></span>
											<div ccID="2123" class="content">
												<h3 ccID="2158">Data science and pedagogy</h3>
												<p ccID="2206">Data science methods have become more and more central to social science research, but training in these
                        methods is not yet common practice. I am passionate about helping scientists expand their access to
                        data science and computational methods through formal and informal instruction.</p>
											</div>
										</article>
										<article ccID="2600">
											<span ccID="2622" class="icon solid fa-volume-up"></span>
											<div ccID="2680" class="content">
												<h3 ccID="2715">Unsupervised vowel clustering</h3>
                        <!-- Add link here -->

												<p ccID="2817"> Machine learning methods show promise for supplementing traditional analyses. 
                        This project explores alternatives to the ubiquitous K-means for vowel clustering. 
                        Collaboration with Jennifer Kuo (UCLA)</p>
											</div>
										</article>
										<article ccID="3129">
											<span ccID="3151" class="icon solid fa-cogs"></span>
											<div ccID="3204" class="content">
												<h3 ccID="3239">Probing neural net representations</h3>
												<p ccID="3296">Neural nets have a significant ability to detect patterns in data, 
                        and may be informative of the kinds of patterns that are distinctive of phonetic contrasts.
                         This project probes representations at different levels of neural networks.</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Add links to my major pages after they are built: CV, Teaching, Research, Blog -->
								<section ccID="3775">
									<header ccID="3795" class="major">
										<h2 ccID="3829">Ipsum sed dolor</h2>
									</header>
									<div ccID="3884" class="posts">
										<article ccID="3915">
											<a ccID="3937" href="#" class="image"><img ccID="3963" src="images/pic01.jpg" alt="" /></a>
											<h3 ccID="4017">Interdum aenean</h3>
											<p ccID="4054">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul ccID="4225" class="actions">
												<li ccID="4259"><a ccID="4263" href="#" class="button">More</a></li>
											</ul>
										</article>
										<article ccID="4355">
											<a ccID="4377" href="#" class="image"><img ccID="4403" src="images/pic02.jpg" alt="" /></a>
											<h3 ccID="4457">Nulla amet dolore</h3>
											<p ccID="4496">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul ccID="4667" class="actions">
												<li ccID="4701"><a ccID="4705" href="#" class="button">More</a></li>
											</ul>
										</article>
										<article ccID="4797">
											<a ccID="4819" href="#" class="image"><img ccID="4845" src="images/pic03.jpg" alt="" /></a>
											<h3 ccID="4899">Tempus ullamcorper</h3>
											<p ccID="4939">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul ccID="5110" class="actions">
												<li ccID="5144"><a ccID="5148" href="#" class="button">More</a></li>
											</ul>
										</article>
										<article ccID="5240">
											<a ccID="5262" href="#" class="image"><img ccID="5288" src="images/pic04.jpg" alt="" /></a>
											<h3 ccID="5342">Sed etiam facilis</h3>
											<p ccID="5381">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul ccID="5552" class="actions">
												<li ccID="5586"><a ccID="5590" href="#" class="button">More</a></li>
											</ul>
										</article>
										<article ccID="5682">
											<a ccID="5704" href="#" class="image"><img ccID="5730" src="images/pic05.jpg" alt="" /></a>
											<h3 ccID="5784">Feugiat lorem aenean</h3>
											<p ccID="5826">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul ccID="5997" class="actions">
												<li ccID="6031"><a ccID="6035" href="#" class="button">More</a></li>
											</ul>
										</article>
										<article ccID="6127">
											<a ccID="6149" href="#" class="image"><img ccID="6175" src="images/pic06.jpg" alt="" /></a>
											<h3 ccID="6229">Amet varius aliquam</h3>
											<p ccID="6270">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul ccID="6441" class="actions">
												<li ccID="6475"><a ccID="6479" href="#" class="button">More</a></li>
											</ul>
										</article>
									</div>
								</section>

						</div>
					</div>

   
		<!-- Scripts -->
			<script ccID="6657" src="assets/js/jquery.min.js"></script>
			<script ccID="6709" src="assets/js/browser.min.js"></script>
			<script ccID="6762" src="assets/js/breakpoints.min.js"></script>
			<script ccID="6819" src="assets/js/util.js"></script>
			<script ccID="6865" src="assets/js/main.js"></script>

	</body>
</html>