
 <div  ccID="4" ccID="4"id="sidebar">
  <div ccID="26" class="inner">

   <!-- Search -->
    <section ccID="73" id="search" class="alt">
     <form ccID="113" method="post" action="#">
      <input ccID="152" type="text" name="query" id="query" placeholder="Search" />
     </form>
    </section>

   <!-- Menu -->
    <nav ccID="274" id="menu">
     <header ccID="296" class="major">
      <h2 ccID="326">Menu</h2>
     </header>
     <ul ccID="362">
      <li ccID="374"><a ccID="378" href="index.html">Homepage</a></li>
      <li ccID="424"><a ccID="428" href="CV.html">CV</a></li>
      <li ccID="465"><a ccID="469" href="resources.html">Resources</a></li>
      
    </nav>

   <!-- Section -->
    <section ccID="561">
     <header ccID="577" class="major">
      <h2 ccID="607">News and Updates</h2>
     </header>
     <div ccID="655" class="mini-posts">
      <article ccID="687">
      	<p ccID="705">January, 2023. Presented at the Linguistic Society of America with Jennifer Kuo</p>
      </article>

     </div>
     <ul ccID="831" class="actions">
      <li ccID="859"><a ccID="863" href="newsandupdates.html" class="button">More</a></li>
     </ul>
    </section>



   <!-- Footer -->
    <footer ccID="981" id="footer">
     <p ccID="1008"> Design: <a ccID="1020" href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

  </div>
 </div>      
