
 <div  ccID="4" ccID="4"id="sidebar">
  <div ccID="26" class="inner">

   <!-- Search -->
    <section ccID="73" id="search" class="alt">
     <form ccID="113" method="post" action="#">
      <input ccID="152" type="text" name="query" id="query" placeholder="Search" />
     </form>
    </section>

   <!-- Menu -->
    <nav ccID="274" id="menu">
     <header ccID="296" class="major">
      <h2 ccID="326">Menu</h2>
     </header>
     <ul ccID="362">
      <li ccID="374"><a ccID="378" href="index.html">Homepage</a></li>
      <li ccID="424"><a ccID="428" href="CV.html">CV</a></li>
      <li ccID="465"><a ccID="469" href="teaching.html">Teaching</a></li>
      <li ccID="518">
      	<span ccID="531" class="opener">Research</span>
      	<ul ccID="576">
      		<li ccID="590"><a ccID="594" href="project1.html">Acoustic representations in phonetics</a></li>
      		<li ccID="674"><a ccID="678" href="project2.html">Vowel clustering</a></li>
      		<li ccID="737"><a ccID="741" href="project3.html">Probing neural networks</a></li>
      	</ul>
      </li>
      
    </nav>

   <!-- Section -->
    <section ccID="873">
     <header ccID="889" class="major">
      <h2 ccID="919">Updates</h2>
     </header>
     <div ccID="958" class="mini-posts">
      <article ccID="990">
      	<p ccID="1008">Presented at the Linguistic Society of America with Jennifer Kuo</p>
      </article>

     </div>
     <ul ccID="1119" class="actions">
      <li ccID="1147"><a ccID="1151" href="newsandupdates.html" class="button">More</a></li>
     </ul>
    </section>

   <!-- Section -->
    <section ccID="1266">
     <header ccID="1282" class="major">
      <h2 ccID="1312">Contact</h2>
     </header>
     <p ccID="1351">Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
     <ul ccID="1569" class="contact">
      <li ccID="1597" class="icon solid fa-envelope"><a ccID="1632" href="#">information@untitled.tld</a></li>
      <li ccID="1685" class="icon solid fa-phone">(000) 000-0000</li>
      <li ccID="1744" class="icon solid fa-home">1234 Somewhere Road #8254<br ccID="1800" />
      Nashville, TN 00000-0000</li>
     </ul>
    </section>

   <!-- Footer -->
    <footer ccID="1899" id="footer">
     <p ccID="1926" class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a ccID="1998" href="https://unsplash.com">Unsplash</a>. Design: <a ccID="2051" href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

  </div>
 </div>      
