---
title: 'Vowel Clustering Methods'     
date: 2012-08-14
permalink: /vowel-clustering-project 
pic: "images/vowel-clustering-optics.png"       
projectlink: "https://github.com/jenniferxkuo/vowel-clustering/"
shorttext: "Project exploring OPTICS as an alternative to the common K-Means clustering alorithm for vowel space description. Collaboration with Jennifer Kuo (UCLA)"
newsblurb: "<i>March 2023</i>. Published paper comparing vowel clustering algorithms in the Linguistic Society of America meeting proceedings with Jennifer Kuo (UCLA)"
tags:
  - news
  - project
  - highlight
---
<!DOCTYPE HTML>

<html>
	<head>
		<title>Emily Grabowski</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
              {% include header.html %}
              
               <h1> {{page.title}}      <a href={{page.projectlink}}" class="icon brands fa-github"><span class="label">GitHub</span></a>
                 </h1>
              
               <p> This project systematically compares two clustering algorithms: K-means and OPTICS (similar to DBSCAN)
               on both theoretical and empirical levels. The project finds that K-means entails assumptions that both theoretically
               and empirically pose issues for meaningful interpretations of the results. OPTICS is proposed as an alternative
               that has potential for learning meaningful patterns in exploratory vowel space analysis. </p>  
               
               
               <center>
               <span class="image"><a href={{page.projectlink}} class="image"><img src="../images/vowel-clustering-example.png" "picture" width = "700p" ></a>
               </span>                 
               </center>
               
               <p> This project was delivered at a talk at the LSA Annual Meeting in January 2023 with <a href="https://kuojennifer.com">Jennifer Kuo</a>, and the proceedings paper is available <a href="https://doi.org/10.3765/plsa.v8i1.5488">here</a>. </p>
               <p> The slides and code are available at <a href={{page.projectlink}}>this GitHub repository.</a> </p>

							
						</div>
					</div>

  {% include sidebar.html %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>