---
title: 'Bag-of-words representation for text analysis'     
layout: default
permalink: /demo-bag-of-words  
pic: "images/pic01.jpg"      
shorttext: "Gentle introduction to text analysis and representations for non-major computer science students."
tags:
  - demo
  - highlight
---
<!DOCTYPE HTML>

<html>
	<head>
		<title>Emily Grabowski</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
              {% include header.html %}
              
               <h2> {{page.title}} </h2>
              
               <p> 1-hr introduction to the central concept in text analysis of converting text to numerical representations.
               Focus on bag-of-words representations and a brief application using logistic regression for
               sentiment analysis</p>  
               
               
               <p> Code available  <a href="<b>https://github.com/emilygrabowski/demos-tutorials/tree/main/text_analysis</b>">here.</a> </p>

							
						</div>
					</div>

  {% include sidebar.html %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>