---
title: 'Groupby (pandas)'     
layout: default
permalink: /demo-groupby 
pic: "images/pic01.jpg"      
shorttext: "Brief introduction to groupby for aggregating tabular data."
tags:
  - demo
---
<!DOCTYPE HTML>

<html>
	<head>
		<title>Emily Grabowski</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
              {% include header.html %}
              
               <h2> {{page.title}} </h2>
              
               <p> Brief introduction to groupby methods in pandas, with best practices and examples</p>  
               
               
               <p> Code available  <a href="<b>https://github.com/emilygrabowski/demos-tutorials/tree/main/groupby_tutorial</b>">here.</a> </p>

							
						</div>
					</div>

  {% include sidebar.html %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>