---
title: 'Survey of phonetic methodology'     
date: 2012-08-14
permalink: /phonetic-method-survey 
pic: "images/methods-survey.png"       
projectlink: "https://guarant.cz/icphs2023/984.pdf"
shorttext: "Survey of phonetic measurement strategies in the proceedings of a major phoentics conference"
newsblurb: "<i>August 2023</i>. Presented paper on a phonetic methods survey at the International Congress of Phonetic Sciences."
tags:
  - news
  - project
  - highlight
---
<!DOCTYPE HTML>

<html>
	<head>
		<title>Emily Grabowski</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
              {% include header.html %}
              
               <h1> {{page.title}}      <a href={{page.projectlink}}" class="icon brands fa-github"><span class="label">GitHub</span></a>
                 </h1>
              
             <p> Full paper is available <a href={{page.projectlink}}>here.</a>
             </p>
               <p> 
              <b>Abstract:</b> Acoustic analysis in phonetics presents anopportunity to quantify meaningful differences in speech sounds. Recently, however, methodological
              research has raised concerns about the degree of
              variation in acoustic methodology and its impact on
              generalizability of the results. While researchers often
              have intuitions of best practices for selecting
              appropriate features, there is little quantitative
              investigation of how acoustic features are used in
              empirical studies. This paper presents the results of a
              survey of the methodology in a sample of papers from
              the proceedings of this conference at two time points
              20 years apart, with a focus on the target contrast,
              parameters used, and measurement choices. The
              results identify themes in acoustic features across
              contrast types and identifies potential areas for further
              development of acoustic parameters.
               </p>  
               
							
						</div>
					</div>

  {% include sidebar.html %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>